@font-face {
  font-family:"acnh";
  src: url("acnh.otf");
}
 
body {
  background-image: url('https://pbs.twimg.com/media/EQYAiJ1UwAEeNOM.jpg');
 font-family: 'acnh';
}

.phone-menu {
  display: grid;
  gap: 10px;
  width: 400px;
  height: 600px;
  background-color: #f8f7f4;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 80px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 12px solid rgb(45, 45, 45);
  margin-left: 12px;
  
}

.phone-menu-name {
  margin-bottom: 10px;
}

.phone-menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  height: 300px;
  margin-bottom: 65px;
  gap: 15px;
  
}

.phone-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 2px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  color: #6d4c41;
  transition: transform 0.2s ease-in-out;
  height: 86px;
  
}

.phone-menu-item:hover {
  transform: scale(1.05);
}

.phone-menu-item:hover:after {
  content: attr(data-name);
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.phone-menu-item img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 12px;

}


/* ---container-------------------- */

.villagers-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 4 columns */
   /* Gap between columns and rows */
  width: 65%;
  height: auto;
  margin-left: 18%;
 
}

.villager-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 21px;
}

.villager-card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.villager-card h3 {
  margin: 10px 0;
  text-align: center;
}

.villager-card p {
  margin: 5px 0;
  text-align: center;
  
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.carouselSlides {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.carouselSlide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.carouselSlide--active {
  opacity: 1;
}

.carouselImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.carouselButton--prev,
.carouselButton--next {
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  
}

.carouselButton--prev {
  left: 30%;
}

.carouselButton--next {
  right: 30%;
}

.carouselButton--prev:focus,
.carouselButton--next:focus {
  outline: none;
}

.carouselButton--prev:hover,
.carouselButton--next:hover {
  color: #ccc;
}

@media (max-width: 768px) {
  .carouselButton--prev,
  .carouselButton--next {
    font-size: 1.5rem;
  }
}

.carousel__indicators {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.carousel__indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.carousel__indicator--active {
  background-color: #000;
}



.insect-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 34px;
}

.insect-grid li {
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insect-grid li:hover {
  background-color: #e8e8e8;
}



.villagerBanner {
 position:absolute;
 top:0;
 right:0;
 width: 82.8%;
 height: 30%;
 background-image: url('https://media.discordapp.net/attachments/692019678482006016/1089611305540927559/IMG_5181.jpg?width=705&height=397');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 border-radius: 25px;
}

.seaBanner {
  
    position:absolute;
    top:0;
    right:0;
    width: 82.8%;
    height: 30%;
    background-image: url('https://static1.cbrimages.com/wordpress/wp-content/uploads/2020/07/Animal-Crossing-swimming.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
  
}

.insectBanner {
  position:absolute;
  top:0;
  right:0;
  width: 82.8%;
  height: 30%;
  background-image: url('https://cdn.discordapp.com/attachments/692019678482006016/1089611270640115722/IMG_5189.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 border-radius: 25px;
}




 






.header {
text-align: center;
font-size: 50px;
}

.pTag {
text-align: center;
font-size: 30px;
}

.pTagg {
  text-align: center;
  font-size: 22px;
}



.speech-bubble {
  position: absolute;
  font-size: 16px;
  bottom:10px;
  left: 15%;
  transform: translateX(-50%);
  width: 500px;
  padding: 20px;
  border-radius: 23%;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin-left: -4%;
}

.speech-bubble:before {
  content: "";
  font-size: 16px;
  position: absolute;
  bottom:10px;
  left: 30%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  
  
}

.speech-bubble:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;

}

.blathers {
 position: absolute;
 left: 3px;
 bottom: -35%;
}

.homeHeader {
text-align: center;
font-size: 45px;
margin-top: -400px ;
}

.homepTag{
text-align: center;
font-size: 32px;
}

.hPic {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 210px;
  text-align: center;
  width: 100%;

}
.hPicc{
  width: 1500px;
  height: auto;
}

.amDiv{
  display: flex;
  justify-content: center;
}

.amLinks{
  display: flex;
  justify-content: center;
}